# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Core-Dynamic-Plus-Labs/Executive-Sponsors will be requested for
# review when someone opens a pull request.
* @Core-Dynamic-Plus-Labs/Executive-Sponsors
