<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Exclusion</title>
</head>
<body>
    <h1>Add New Exclusion</h1>
    <form method="POST" action="{{ url_for('main.add_exclusion_page') }}">
        <label>Name: <input type="text" name="name"></label><br>
        <label>Date of Birth: <input type="date" name="date_of_birth"></label><br>
        <label>Gender: <input type="text" name="gender"></label><br>
        <label>Street: <input type="text" name="street"></label><br>
        <label>City: <input type="text" name="city"></label><br>
        <label>State: <input type="text" name="state"></label><br>
        <label>Zip: <input type="text" name="zip"></label><br>
        <label>Reason: <input type="text" name="reason"></label><br>
        <label>Start Date: <input type="date" name="start_date"></label><br>
        <label>End Date: <input type="date" name="end_date"></label><br>
        <label>Exclusion Authority: <input type="text" name="exclusion_authority"></label><br>
        <label>Notes: <textarea name="notes"></textarea></label><br>
        <label>ID Type: <input type="text" name="id_type"></label><br>
        <label>ID Number: <input type="text" name="id_number"></label><br>
        <input type="submit" value="Add Exclusion">
    </form>
</body>
</html>
